<div class="navigation" [ngClass]="{'active': !sideBarToggled}">
        <ul>
          <li>
            <a href="#">
              <span class="icon"><img src="../../../../assets/logo-mod.svg"></span>
              <span class="title">SIS</span>
            </a>
          </li>
          
          <li>
            
              <div class="icon"><img src="https://png.pngtree.com/png-vector/20220709/ourmid/pngtree-businessman-user-avatar-wearing-suit-with-red-tie-png-image_5809521.png"></div>
             <div class="title">H.A. Savindu shehan</div>
           
          </li>

          <li >
            <a href="#">
              <span class="icon"><i class="fa-solid fa-user-tie"></i></span>
              <span class="title">Manage Admins</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fa-solid fa-person-chalkboard"></i></span>
              <span class="title">Manage Teachers</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"> <i class="fa-solid fa-user-graduate"></i></span>
              <span class="title">Manage Students</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"> <i class="fa-solid fa-graduation-cap"></i></span>
              <span class="title">Manage Courses</span>
            </a>
          </li>
          <!-- <li>
            <a href="#">
              <span class="icon"> <i class="fa-solid fa-user-graduate "></i></span>
              <span class="title">Brand name</span>
            </a>
          </li> -->
        </ul>
      </div>
      