.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-background);
  overflow: hidden;

  z-index: 1;
}

/* wave  */
.waves {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50vh;
  background: var(--primary-color);
  opacity: 0.5;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  z-index: 100;
}

.waves:before,
.waves:after {
  content: "";
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, 75%);
}

.waves:before {
  border-radius: 44%;
  animation: wave 8s linear infinite;
  background: rgba(255, 255, 255, 1);
}

.waves:after {
  border-radius: 44%;
  background: rgba(255, 255, 255, 0.6);
  animation: wave 16s linear infinite;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

/* wave - end */

/* header */

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}

.header .logo {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.ripple-btn {
  position: relative;
  display: inline-block;
  padding: 12px 34px;
  margin: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 40px;
  background: linear-gradient(90deg, var(--primary-color), #55e7fc);
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
  border: none;
}

.ripple-btn:hover {
  background: linear-gradient(90deg, #55e7fc, var(--primary-color));
}
/* .ripple-btn span {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: ripple 1s linear infinite;
}

@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
} */

/* header end */

/* hero  */
.hero-container {
  position: absolute;
  top: 5vh;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 20px;
  gap: 20px;
  z-index: 150;
  transition: 0.5s;
}

.hero-container .heading {
  position: relative;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  height: auto;
  transition: 0.5s;
}

.hero-container .heading h2 {
  position: relative;
  bottom: 50px;
  animation: breathe 3s ease-in-out infinite;
}

@keyframes breathe {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.hero-container .heading .school {
  /* font-size: 1.5em; */
  color: var(--primary-color);
}

.hero-container .heading .information {
  -webkit-text-stroke: 3px var(--primary-color);
  color: transparent;
}

.hero-container .heading .system {
  color: var(--primary-color);
}

@media (max-width: 935px) {
  .container {
    overflow-y: auto;
  }
  .hero-container {
    grid-template-columns: 1fr;
  }

  .hero-container .heading {
    position: relative;
    /* top: 150px; */
    order: 1;
  }
}

@media (max-width: 473px) {
  .hero-container .heading {
    font-size: 2.5em;
  }

  .hero-container .heading {
    height: 200px;
  }
}

@media (max-width: 386px) {
  .ripple-btn {
    font-size: 14px;
    padding: 12px 25px;
  }
  .hero-container .heading {
    font-size: 10vw;
    bottom: 50px;
  }
  .hero-container .heading .information {
    -webkit-text-stroke: 2px var(--primary-color);
  }
}
