<div class="front-form" #signIn>

          <div class="box">
            <div class="card">
              <h3>Sign in</h3>
              <div class="input-container">
                <div class="radio-group">
                  <div class="radio-container">
                    <input type="radio" name="radio" id="01-radio" />
                    <div class="radio-tile">
                      <i class="fa-solid fa-user-tie icon" aria-hidden="true"></i>
                      <label for="01-radio">Admin</label>
                    </div>
                  </div>
                  <div class="radio-container">
                    <input type="radio" name="radio" id="02-radio" />
                    <div class="radio-tile">
                      <i class="fa-solid fa-person-chalkboard icon"></i>
                      <label for="02-radio">Teacher</label>
                    </div>
                  </div>
                  <div class="radio-container">
                    <input type="radio" name="radio" id="03-radio" />
                    <div class="radio-tile">
                      <i class="fa-solid fa-user-graduate icon"></i>
                      <label for="03-radio">Student</label>
                    </div>
                  </div>
                </div>
                <div class="input-box">
                  <input type="text" required />
                  <span>email</span>
                </div>

                <div class="input-box">
                  <input type="text" required />
                  <span>Password</span>
                </div>

                <button class="ripple-btn">
                  Sign in
                </button>
              </div>
            </div>
          </div>
        </div>