.front-form {
  position: relative;
  top: 175px;
  right: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-bottom: 35px;
  animation-name: reverse-elastic;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  order: 2;
}

@keyframes reverse-elastic {
  0% {
    transform: translateX(0%);
  }
  41.45% {
    transform: translateX(112.3%);
  }
  65.98% {
    transform: translateX(92.86%);
  }
  80.49% {
    transform: translateX(104.1%);
  }
  89.08% {
    transform: translateX(97.71%);
  }
  94.16% {
    transform: translateX(101.23%);
  }
  97.17% {
    transform: translateX(99.41%);
  }
  98.95% {
    transform: translateX(100.22%);
  }
  100.00% {
    transform: translateX(100%);
  }
}

@keyframes reverse {
  0% {
    transform: translateX(0%);
  }
  /* 41.45% {
    transform: translateX(112.3%);
  }
  65.98% {
    transform: translateX(92.86%);
  }
  80.49% {
    transform: translateX(104.1%);
  }
  89.08% {
    transform: translateX(97.71%);
  }
  94.16% {
    transform: translateX(101.23%);
  }
  97.17% {
    transform: translateX(99.41%);
  }
  98.95% {
    transform: translateX(100.22%);
    display: flex;
  } */
  90% {
    display: flex;
  }
  100.00% {
    transform: translateX(100%);
    display: none;
  }
}

.box {
  position: relative;
  width: 380px;
  height: 450px;
  background: var(--white);
  border-radius: 5px 75px;
  -webkit-box-shadow: -6px 3px 57px -19px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -6px 3px 57px -19px rgba(0, 0, 0, 0.63);
  box-shadow: -6px 3px 57px -19px rgba(0, 0, 0, 0.63);
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 550px;
  transform-origin: bottom right;
  background: linear-gradient(
    0deg,
    transparent,
    var(--secondary-color),
    var(--secondary-color)
  );
  animation: line 6s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 420px;
  height: 550px;
  transform-origin: bottom right;
  background: linear-gradient(
    0deg,
    transparent,
    var(--secondary-color),
    var(--secondary-color)
  );
  animation: line 6s linear infinite;
  animation-delay: -3s;
}

@keyframes line {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card {
  position: absolute;
  z-index: 10;
  background: var(--light-background);
  inset: 3px;
  border-radius: 5px 75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card h3 {
  position: relative;
  top: 15px;
  font-size: 35px;
  color: var(--primary-color);
}

.card h3:after {
  content: "";
  position: relative;
  display: block;
  background: var(--secondary-color);
  margin-top: 5px;
  width: 45px;
  height: 8px;
  border: none;
}

.card .input-container {
  margin-top: 50px;
  width: 85%;
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.radio-container {
  position: relative;
  height: 80px;
  width: 80px;
}

.radio-container input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
}

.radio-container .radio-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 2px solid var(--secondary-color);
  border-radius: 25px;
  transition: all 0.3s ease;
}

.radio-container .radio-tile .icon {
  color: var(--secondary-color);
  font-size: 18px;
  margin-bottom: 3px;
}

.radio-container label {
  color: var(--secondary-color);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.radio-container input:checked + .radio-tile {
  background: var(--primary-color);
  box-shadow: 0 0 12px var(--primary-color);
  border: 2px solid var(--primary-color);
}

.radio-container input:hover + .radio-tile {
  box-shadow: 0 0 12px var(--secondary-color);
}

.radio-container input:checked + .radio-tile .icon,
.radio-container input:checked + .radio-tile label {
  color: #fff;
}

.input-box {
  position: relative;
  width: 100%;
}

.input-box input {
  width: 100%;
  padding: 10px;

  border: 2px solid var(--secondary-color);
  background: var(--light-background);
  border-radius: 25px;
  outline: none;
  color: var(--primary-color);
  font-size: 1em;
  transition: 0.5s;
  margin-bottom: 10px;
}

.input-box span {
  position: absolute;
  left: 0px;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: var(--secondary-color);
  text-transform: uppercase;
  transition: 0.5s;
}

.input-box input:valid ~ span,
.input-box input:focus ~ span {
  color: var(--secondary-color);
  transform: translateX(10px) translateY(-5px);
  font-size: 0.65em;
  padding: 2px 10px;
  background: var(--light-background);
  letter-spacing: 0.2em;
  background: var(--primary-color);
  border-radius: 2px;
  color: var(--white);
}

.input-box input:valid,
.input-box input:focus {
  border: 2px solid var(--primary-color);
}

.card .ripple-btn {
  width: 100%;
  text-align: center;
  position: relative;
  right: 10px;
  border: none;
}
.ripple-btn {
  position: relative;
  display: inline-block;
  padding: 12px 34px;
  margin: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 40px;
  background: linear-gradient(90deg, var(--primary-color), #55e7fc);
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  outline: none;
  border: none;
}

.ripple-btn:hover {
  background: linear-gradient(90deg, #55e7fc, var(--primary-color));
}

@media (max-width: 935px) {
  .front-form {
    /* top: 50px; */
    order: 2;
    padding-bottom: 25px;
  }
}

@media (max-width: 386px) {
  .ripple-btn {
    font-size: 14px;
    padding: 12px 25px;
  }

  .box {
    width: 80vw;
  }
  .box:before {
    width: 80vw;
  }
  .box:after {
    width: 80vw;
  }

  .input-box {
    font-size: 12px;
  }

  .radio-container {
    width: 60px;
    height: 60px;
  }

  .radio-container label {
    font-size: 8px;
  }
}
